{% for image in images %}
    <div class="col-sm-12 col-md-6">
        <div class="thumbnail">
            <img src="{{ asset('images') }}/{{ image }}" alt="{{ image }}">
        </div>
    </div>
{% endfor %}